<div class="row" style="padding-top:0%;">
	<div class="col"></div>
	<div class="col-md-4">
		<h1>Create an Account!</h1>

		<%= form_for @user do |f| %>
		<% if @user.errors.any? %>
		<div id="error_explanation">
			<h2> 
				<%= pluralize(@user.errors.count, "error") %>
				prohibited this article from being saved:
			</h2>
			<p>
				<ul>
					<% @user.errors.full_messages.each do |msg| %>
					<li>
						<%= msg %>
					</li>
				<% end %>
				</ul>
			</p>
			<% if alert %>
			<%= alert %>
			<% end %>
		</div>
		<% end %> <!-- end for checking errors -->
		<%= f.text_field :userid, placeholder: 'Input a User ID', class:'form-control' %>
		<%= f.email_field :email, placeholder: 'Input your email', class:'form-control' %>
		<%= f.password_field :password, placeholder: 'Create a password ', class:'form-control' %>
		<%= f.password_field :password_confirmation, placeholder: 'Confirm Password', class:'form-control' %>
		<%= f.submit 'Create Account' %>
		<% end %>
	</div>